$media-queries-limit: (
  "mobile": 769px,
  "tablet": 1025px,
  "navegacion": 1025px,
);
$width: (
  'max-main': 1280px,
  'max-view': 1024px,
  'max-img': 1024px,
  'max-text': 744px,
  'max-vis': 1800px,
  'max-reportaje-text': 896px
);

$gap: 15px;