p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}
h1{
    color: #4A2582;
    font-size: 56px;
    &.blanco{
        color: #FFFFFF;
    }
}
.cita{
    color:#FDA1C9;
    line-height: 1;
    font-size: 56px;
    font-weight: 800;
}
hr{
    border-top: 3px solid #FFFFFF;
    width: 50px;
    margin-left: 0;
}